APP_PORT=9000

QDRANT_RETRIES=10

QDRANT_HOST=localhost
QDRANT_PORT=6333
ENTERPRISE_COLLECTION=Enterprise_Knowledge_Base
QDRANT_ON_DISK=true
QDRANT_TIMEOUT=60
HNSW_M=16
HNSW_EF_CONSTRUCT=100
HNSW_EF=128
SPARSE_FULL_SCAN_THRESHOLD=1000
DENSE_DISTANCE=COSINE
QDRANT_INDEXING_THREADS=4
RERANK_THRESHOLD=0.0

TEXT_DENSE_HOSTED=false
TEXT_DENSE_URL=http://localhost:8001
TEXT_DENSE_API_KEY=XXXXX
TEXT_DENSE_MODEL=BAAI/bge-small-en-v1.5
TEXT_DENSE_MODEL_DIM=384

CODE_DENSE_HOSTED=false
CODE_DENSE_URL=http://localhost:8001
CODE_DENSE_API_KEY=XXXXX
CODE_DENSE_MODEL=BAAI/bge-small-en-v1.5
CODE_DENSE_MODEL_DIM=384

TEXT_SPARSE_HOSTED=false
TEXT_SPARSE_URL=http://localhost:8002
TEXT_SPARSE_API_KEY=XXXX
TEXT_SPARSE_MODEL=XXXXX

RERANKER_HOSTED=false
RERANKER_URL=http://localhost:8003
RERANKER_API_KEY=XXXX
RERANKER_MODEL=XXXX

EMBED_BATCH_SIZE=32

HTTP_TOTAL_TIMEOUT=120.0
HTTP_CONNECT_TIMEOUT=10.0

HTTP_MAX_CONNECTIONS=100
HTTP_MAX_KEEPALIVE=20

INFERENCE_MAX_RETRIES=3
INFERENCE_RETRY_MIN_WAIT=2
INFERENCE_RETRY_MAX_WAIT=10

HTTP_VERIFY_SSL=false

CONFLUENCE_BASE_URL=XXXX
EMAIL=XXXX
API_TOKEN=XXXX

REDIS_BROKER_URL=redis://localhost:6379/0
REDIS_BACKEND_URL=redis://localhost:6379/1
WORKSPACE_COLLECTION=Workspace_Knowledge_Base

ENTERPRISE_COLLECTION_DENSE_DIM=768
WORKSPACE_COLLECTION_DENSE_DIM=768

UVICORN_WORKERS=1

MAX_CHUNK_CHARS=2000
SOFT_CHUNK_CHARS=3000
PREAMBLE_CHARS=200

